* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #FFE2B0;
}

header {
    /* Действует на то что внутри тэга поэтому размещает по центру */
    text-align: center;
}

header img {
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: inline;
    padding: 0px;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

nav ul li:last-child {
    margin-right: 0px;
}

.section-about{
    position: relative;
    width: 100%;
    height: 640px;
    margin-bottom: 20px;
    background: url(../img/background.jpg) center/cover no-repeat;
}

.section-about__block {
    position: absolute;
    top: 54%;
    left: 50%;
    width: 420px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8)100%);
    padding: 15px;
}

.section-about__border {
    width: 390px;
    border: 1px solid black;
    padding: 20px;
}

.section-about__title {
    margin: 0;
    font-size: 36px;
}

.section-about__text {
    font-size: 12px;
    margin: 0;
}

.section-description {
    text-align: center;
}

.section-decription__icons {
    margin-bottom: 20px;
}

.section-decription__icons img {
    margin-right: 76px;
}

.section-decription__icons img:last-child {
    margin-right: 0px;
}

.section-description__text-title {
    font-size: 96px;
    margin: 0px;
    text-align: center;
}

.red {
    color: #f15b40;
}

.section-description__text {
    font-size: 18px;
    margin: 0px;
    width: 1000px;
    margin: 0 auto;
}

.section-map__title {
    text-align: center;
    font-size: 36px;
}  

iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

footer hr {
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    display: inline;
    padding: 0px;
}

footer ul li {
    display: inline;
    margin-right: 100px;
}

footer ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

hr {
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
}

a:hover {
    color: #f15b40;
}

footer ul li:last-child {
    margin-right: 0px;
}
